<!DOCTYPE html>
<html>
<head>
	<title>Nikhil Hira | Ruby on Rails Developer</title>
</head>
<div class="container">
<body>

	<header>
		<h1 class="site_name">d<span>X</span>pher</h1>
		<nav>
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">GitHub</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>
		</nav>
	</header>
	<section class="about_me">
		<p>May I take a moment and tell you my story?

	   Rewind a few years, okay maybe more than a few, I'm 18 fresh out of high school and the adventure is about to begin...</p>

       <p>Ever since I was very young I've had a hunger for learning and adventure. After high school while attending a local air show, I decided that I was going to pursue my dream of becoming a pilot. A few months later I was attending one of the best flight schools in the country, Embry-Riddle Aeronautical University in Daytona Beach Florida. Flight training remains one of the most challenging things I've ever done. However difficult and despite temporary setbacks, by the age of 19 I had earned my private pilot license. For the next four years I studied aeronautics and continued my flight training. I was able to earn my Instrument Rating, which means I could fly solely by looking at my instruments and not outside. It was one of the most exciting and fulfilling times of my life and I often found myself walking away from a flight with a huge, if not awkward, smile plastered on my face.</p>

       <p>After flight school I attended the University of South Florida where, after another four years, I earned my Bachelors in Finance. I worked for a short time in the commercial mortgage industry but left shortly before the industry imploded.</p>

       <p>I've always wanted to create something of my own and in 2006 after leaving my finance job I decided to start a business. The only problem now was to come up with a business to start. I knew I loved computers and the internet, so after some research I decided to help companies market themselves more effectively online. I retrained myself through books, online courses and self directed study in Paid Search Marketing. Over the next few years I made many mistakes, had some failures, but learned a ton. I used my skills to help companies get more traffic to their websites that would have the highest potential for conversion. Ultimately, it was difficult to make a living doing it as a solo practitioner.</p>

       <p>One thing I began to get interested in as an online marketer was web development. Partly because I felt it was an essential skill and partly because I just wanted to know how to build cool stuff. I did more tutorials on Lynda, Nettuts, Treehouse and Codecademy.com than I can remember but I still felt something was missing.</p>

       <p>One day while searching for website wireframes I stumbled on a particular website. It was CodeAcademy.org. It was exactly what I was missing, total immersion in web development.My next adventure was about to begin. With excitement I applied and before I knew it I was boarding a plane from Tampa Florida to Chicago.</p>

       <p>The past few months have flown by faster than could have imagined. I've learned so much yet have so much to learn. I am determined to fulfill my goal of becoming a professional web developer. While Code Academy has been a fantastic first step I hope that joining a team of amazingly talented developers at a cool, forward thinking company will be my next.</p>

       <p>Apart from learning, I love to travel abroad and riding motorcycles. I use to ride a Suzuki GSXR 600, until an accident put an end to that. I've been to 9 countries in Europe and to India. Hearing, smelling, tasting, and experiencing other countries and cultures is incredibly exciting. But sitting in a cramped economy airline seat is priceless.</p>

       <p>Over the years I've taken on some huge challenges. I've had failures and made mistakes. But no matter what I've always gotten up, taken inventory of the lessons learned, adapted, been persistent and persevered.</p>
	</section>
	
	<footer>
		<p>&copy; Nikhil<span class="last_name">Hira</span></p>
	</footer>
</body>
</div>
</html>