<!DOCTYPE html>
<html>
<head>
	<title>Nikhil Hira | Ruby on Rails Developer</title>
</head>
<div class="container">
<body>
	<header>
		<h1 class="site_name">d<span>X</span>ypher</h1>
		<nav>
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="#">GitHub</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>
		</nav>
	</header>
	<div id="contact_form">
		<form id="contact_form" method="get">  
  
    <label>Name:</label>  
    <input type="text" id="name" name="name">  
  
    <label>Email:</label>  
    <input type="email" id="email" name="email">  
  
    <input type="submit" id="submit" value="SEND">  
  
</form>  
  
<textarea id="comments" form="contact_form"></textarea>
	</div>

	<footer>
		<p>&copy; Nikhil<span class="last_name">Hira</span></p>
	</footer>
	
</body>
</div>
</html>