<!DOCTYPE html>
<html>
<head>
	<title>Nikhil Hira | Ruby on Rails Developer</title>
</head>
<div class="container">
<body>
	<header>
		<h1 class="site_name">d<span>X</span>pher</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Work</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>

</body>
</div>
</html>