<aside>
		<p>Categories</p>
		<ul>
			<li><a href="#">Development</a></li>
			<li><a href="#">Design</a></li>
			<li><a href="#">Learning</a></li>
			<li><a href="#">Resources</a></li>
			<li><a href="#">Random Thoughts</a></li>
		</ul>
	</aside>

	<article>
		<p class="date">July 3, 2012</p>
		<div class="post">
			<h1>First Blog Post Title</h1>
			<img src="assets/sample.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu suscipit nunc. In consectetur velit ac diam laoreet rutrum. Proin at lorem nec turpis gravida iaculis eget eget felis. Cras malesuada, enim a dapibus tincidunt, dui tellus condimentum odio, sed ultrices risus ante non erat. Integer consectetur enim dui... <a href="#" class="read_more">Read More</a></p>
		</div>
	</article>

	<article>
		<p class="date">July 3, 2012</p>
		<div class="post">
			<h1>First Blog Post Title</h1>
			<img src="assets/sample.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu suscipit nunc. In consectetur velit ac diam laoreet rutrum. Proin at lorem nec turpis gravida iaculis eget eget felis. Cras malesuada, enim a dapibus tincidunt, dui tellus condimentum odio, sed ultrices risus ante non erat. Integer consectetur enim dui... <a href="#" class="read_more">Read More</a></p>
		</div>
	</article>

	<article>
		<p class="date">July 3, 2012</p>
		<div class="post">
			<h1>First Blog Post Title</h1>
			<img src="assets/sample.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu suscipit nunc. In consectetur velit ac diam laoreet rutrum. Proin at lorem nec turpis gravida iaculis eget eget felis. Cras malesuada, enim a dapibus tincidunt, dui tellus condimentum odio, sed ultrices risus ante non erat. Integer consectetur enim dui... <a href="#" class="read_more">Read More</a></p>
		</div>
	</article>

	<article>
		<p class="date">July 3, 2012</p>
		<div class="post">
			<h1>First Blog Post Title</h1>
			<img src="assets/sample.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu suscipit nunc. In consectetur velit ac diam laoreet rutrum. Proin at lorem nec turpis gravida iaculis eget eget felis. Cras malesuada, enim a dapibus tincidunt, dui tellus condimentum odio, sed ultrices risus ante non erat. Integer consectetur enim dui... <a href="#" class="read_more">Read More</a></p>
		</div>
	</article>