<aside>
		<p>Categories</p>
		<ul>
			<li><a href="#">Development</a></li>
			<li><a href="#">Design</a></li>
			<li><a href="#">Learning</a></li>
			<li><a href="#">Resources</a></li>
			<li><a href="#">Random Thoughts</a></li>
		</ul>
	</aside>

	<article>
		<% @posts.each do |post| %>
		<p class="date"><%= post.created_at.strftime("%B, %-d %Y") %></p>
		<div class="post">
			<h1><%= post.title %></h1>
			<img src="assets/sample.jpg">
			<p><%= post.post.truncate(400) %><a href="#" class="read_more">Read More</a></p>
		<% end %>	
		</div>
	</article>