<article>
	<p class="date"><%= @post.created_at.strftime("%B, %-d %Y") %></p>
	<div class="post">
		<h1><%= @post.title %></h1>
		<img src="assets/sample.jpg">
		<p><%= @post.post %></p>	
	</div>
</article>