/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Logo */

.logo{
	display: block;
	float: left;
}


/* Global */
body{

	font:  13px/20px “Helvetica Neue”, Arial, Helvetica, sans-serif;
	/*background-image: url(strange_bullseyes.png);*/
}

.container{
	width: 960px;
	position: relative;
	margin: 0px auto;
}

a {
	color: #00A4EB;
	text-decoration: none;
}

a:hover{
 	color: #008B8B;
}

a:active{
 	color: black;
}

/* Header */

header{
	height: 40px;
	padding: 40px;
	border-bottom: 3px solid black;
	margin-bottom: 20px;
}

header h1{
	float: left;
	font-weight: 700;
	font-size: 50px ;
	line-height: ;
	
}

header h1 span{
	font-weight: 400;
	color: #00A4EB;
}

header ul{
	float: right;
	margin-top: 25px;
}

header ul li{
	float: left;
	
}
 header nav a{ 	
	font-size: 20px;
	font-weight: 800;
	margin-left: 20px;	
 }

 /* Aside */

 aside{
 	float: right;
 	width: 150px;
 	height: 300px;
 }

 aside p{
 	font-size: 25px;
 	margin-bottom: 10px;
 }

aside li{
	margin-bottom: 8px;
}
 aside a{
 	font-size: 16px;
 }

 /* Article */

 article{
 	width: 775px;
 	border-bottom: 2px solid rgba(228, 228, 228, 0.7);
 	padding-bottom: 10px;
 	margin-top: 20px
 }

 article .date{
 	background: #00A4EB;
 	color: white;
 	width: 100px;
 	height: 20px;
 	padding: 10px;
 	font-size: 15px;
 	text-align: center;
 	margin-bottom: 10px;
 }

article .post{
	padding-left: 20px;
}

.post h1{
	font-size: 35px;
	margin:20px 0 10px 0;
}

.post img{
	margin: 10px 0;
}


/* Main Section */

.main_section{
	width: 960px;
	height: 200px;
	margin-top: 180px;

}

.main_text{
	text-align: center;
	font-size: 70px;
}

/* About Me */

section .about_me{

}

/* Footer */

footer{
	height: 10px;
	padding: 20px;
	border-top: 3px solid black;
	margin-top: 20px;
	font-weight: 800;
}

footer .last_name{
	color: #00A4EB;
}


/**/