/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global */

body{

	font:  13px/20px “Helvetica Neue”, Arial, Helvetica, sans-serif;
}

.container{
	width: 1200px;
	/*border: 1px solid black;*/
	margin: 20px auto;
}

/* Header */

header{
	height: 40px;
	padding: 40px;
	border-bottom: 3px solid black;
}

header h1{
	float: left;
	font-weight: 700;
	font-size: 50px ;
	line-height: ;
}

header h1 span{
	font-weight: 400;
	color: #00A4EB;
}

header ul{
	float: right;
	margin-top: 10px;
}

header ul li{
	float: left;
	
}
 header nav a{
 	color: #00A4EB;
	font-size: 20px;
	font-weight: 800;
	margin-left: 20px;
	text-decoration: none;
 }

 header nav a:hover{
 	color: #008B8B;
 }

 header nav a:active{
 	color: black;
 }

 /* Article */

 article{
 	width: 850px;
 }

 article .date{
 	background: #00A4EB;
 	color: white;
 	width: 165px;
 	height: 25px;
 	padding: 10px;
 	font-size: 20px;
 	text-align: center;
 }


